<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul class="nav  nav-pills">
            <li><h3>Blood Donor Management System (BDMS)</h3></li>
            <button class="btnAllDonor"><li role="presentation"  ><a href="">All Donors</a></li></button>
            <button class="btnNewDonor"><li role="presentation"  ><a href="">Create New Donor</a></li></button>
            <button class="btnSearch" ><li role="presentation" ><a href="Search.html">Search Donor</a></li></button>
            <button class="btnLogout"><li role="presentation" ><a href="">Log out</a></li></button>
        </ul>
    </nav>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
            <h4>Please Select Blood Type.....</h4>
            <label for="blood-type">Blood Type :</label>
            <select name="blood-type">
                <option>---Select---</option>
                <option>A+</option>
                <option>B+</option>
                <option>AB+</option>
                <option>O+</option>
                <option>A-</option>
                <option>B-</option>
                <option>AB-</option>
                <option>O-</option>
            </select>
            <button type="submit" class="btn btn-danger"><a href="">Search</a></button>
            </form>
        </div>
</div>
</div>
</body>
</html>